---
import fs from 'fs';
import path from 'path';
import { getImage } from "astro:assets";
const galleryImages = import.meta.glob('../assets/gallery/*', { eager: false });


const galleryData = fs.readFileSync('src/assets/gallery/gallery.json', 'utf8');
const files = JSON.parse(galleryData);

for (const imagePath in galleryImages) {
    const filename = path.basename(imagePath);
    const file = files.find((file: GalleryItem) => file.filename === filename);
    if (file) {
        file.src = galleryImages[imagePath];
    }
}

async function loadImages(files: GalleryItem[]) {
    const images = await Promise.all(files.map(async (file) => {
        if (!file.src) return null;
        try {
                const src = (await file.src()).default;
                const image = await getImage({src, format: 'webp'});
                const thumb = await getImage({src, format: 'webp', width: 200, quality: 'low'});
                return { image, thumb, file };
            } catch (error) {
                console.error(`Error processing file ${file}:`, error);
                return null; // Return null if there's an error processing the image
            }
    }));
    return images.filter(image => image !== null);
}

const images = await loadImages(files);
---
<div class="galleria-wrapper">
    <div class="galleria">
        {images.map(data => (
            <a href={data?.image.src}><img src={data?.thumb.src} data-title={data?.file.title} data-description={data?.file.alt_text}></a>
        ))}
    </div>
</div>

<style>
    .galleria-wrapper {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }   
    .galleria {
        height: 400px;
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const options: { _center?: boolean } = {}
        if (window.innerWidth < 768) {
            window.Galleria.loadTheme('https://cdnjs.cloudflare.com/ajax/libs/galleria/1.6.1/themes/classic/galleria.classic.min.js');
        } else {
            window.Galleria.loadTheme('https://cdnjs.cloudflare.com/ajax/libs/galleria/1.6.1/themes/folio/galleria.folio.min.js');
            options["_center"] = true;
            const galleriaWrapper = document.querySelector('.galleria-wrapper') as HTMLDivElement;
            if (galleriaWrapper) {
                galleriaWrapper.style.padding = '0 1em';
            }
        }
        window.Galleria.run('.galleria', options);
    });
</script>

