---
import inter400 from "@fontsource/inter/files/inter-latin-400-normal.woff2";
import inter600 from "@fontsource/inter/files/inter-latin-600-normal.woff2";
import lora400 from "@fontsource/lora/files/lora-latin-400-normal.woff2";
import lora600 from "@fontsource/lora/files/lora-latin-600-normal.woff2";
import bungee400 from '@fontsource/bungee-inline/files/bungee-inline-latin-400-normal.woff2';


const { title } = Astro.props;
const fullTitle = title ? `${title} | The Big Bang Collective` : 'The Big Bang Collective';
const ogDescription = `The Big Bang Collective is a vibrant celebration of STEM, designed to ignite curiosity and innovation. Each year, our festivals offer a dynamic platform for attendees to explore the latest advancements in science and technology. With interactive exhibits, thought-provoking discussions, and hands-on activities, the festivals enrich the minds of young enthusiasts, educators, and professionals, encouraging a deeper appreciation of STEM marvels and fostering a spirit of discovery. Join us to explore new frontiers in STEM.`
const twitterDescription = `Explore STEM marvels at the Big Bang Collective! Join our festivals for interactive exhibits, engaging talks, and hands-on activities. Ignite your curiosity and innovation.`
---
<meta charset="UTF-8" />
<meta name="description" content={ogDescription} />
<meta name="viewport" content="width=device-width" />

<link rel="icon" type="image/svg+xml" href="/logo.svg" />

<meta name="generator" content={Astro.generator} />

<title>{fullTitle}</title>

<!-- Font preloads -->
<link rel="preload" href={inter400} as="font" type="font/woff2" crossorigin/>
<link rel="preload" href={inter600} as="font" type="font/woff2" crossorigin/>
<link rel="preload" href={lora400} as="font" type="font/woff2" crossorigin/>
<link rel="preload" href={lora600} as="font" type="font/woff2" crossorigin/>
<link rel="preload" href={bungee400} as="font" type="font/woff2" crossorigin/>

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<meta name="title" content={fullTitle} />
<meta name="description" content={ogDescription} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={fullTitle} />
<meta property="og:description" content={ogDescription} />
<meta property="og:image" content={new URL('/images/bigbangcollective-social.jpg', Astro.url)} />
<meta property="og:image:width" content="925" />
<meta property="og:image:height" content="925" />


<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={fullTitle} />
<meta property="twitter:description" content={twitterDescription} />
<meta property="twitter:image" content={new URL('/images/bigbangcollective-social.jpg', Astro.url)} />
<meta property="twitter:image:width" content="925" />
<meta property="twitter:image:height" content="925" />

<script is:inline defer src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
<script is:inline defer src="https://cdnjs.cloudflare.com/ajax/libs/galleria/1.6.1/galleria.min.js"></script>
